.add-services__columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    justify-content: space-between;
    grid-template-rows: 1fr;
    grid-gap: 28px;
    @include mobile-block {
        grid-template-columns: repeat(auto-fit, minmax(0, 438px));
        justify-content: center;
        grid-gap: 25px;
    }
}