{% include "partials/_header.html" %}

<!-- MAIN -->
<main class="main page__container bg--white">

    {% include "partials/_header-page.html" %}
    {% include "partials/_why-us.html" %}
    {% include "partials/_add-services-slider.html" %}
    {% include "partials/_service-calculator.html" %}
    {% include "partials/_benefits.html" %}
    {% include "partials/_reviews-slider.html" %}
    {% include "partials/_main-form.html" %}
    {% include "partials/_faq.html" %}

</main>
<!-- /. MAIN -->

{% include "partials/_footer.html" %}