<!-- Add-services -->
<section class="add-services-slider block--padding bg--white">
    <div class="add-services-slider__body container">
        <h2 class="add-services__heading title title--large title--dark title--w-medium title--indent">
            Услуги
        </h2>
        <div class="add-services-slider__swiper swiper-container">
            <div class="add-services-slider__swiper-wrapper swiper-wrapper">
                    <div class="add-services-slider__swiper-slide swiper-slide">
                        <!-- Card-services -->
                        <article class="card-services">
                            <aside class="card-services__aside">
                                <div class="card-services__figure">
                                    <img src="https://picsum.photos/500/300" alt="" class="card-services__img">
                                </div>
                            </aside>
                            <div class="card-services__body bg--white">
                                <h3 class="card-services__title text text--large text--blue text--w-regular">
                                    Бухгалтерское <br> сопровождение
                                </h3>
                                <p class="card-services__copy text text--small text--blue-75 text--w-light">
                                    Принцип нашей работы - обеспечить комплексную и полномасштабную работу над вашим проектом. Мы не просто подсчитываем и подаем бухгалтерскую отчетность, а ведем полноценный бухгалтерский учет, оповещаем о всех возможных “Подводных камнях” и ищем пути решения проблем, возникающих при ведении бизнеса.
                                </p>
                                <div class="card-services__action">
                                    <a href="javascript:;" class="card-services__button button button--blue">
                                        <span class="button__span" data-hover-btn="Получить консультацию">Получить консультацию</span> 
                                    </a>
                                </div>
                            </div>
                        </article>
                        <!-- /. Card-services -->
                    </div>
                    <div class="add-services-slider__swiper-slide swiper-slide">
                        <!-- Card-services -->
                        <article class="card-services">
                            <aside class="card-services__aside">
                                <div class="card-services__figure">
                                    <img src="https://picsum.photos/500/300" alt="" class="card-services__img">
                                </div>
                            </aside>
                            <div class="card-services__body bg--white">
                                <h3 class="card-services__title text text--large text--blue text--w-regular">
                                    Оптимизация <br> налогооблажения
                                </h3>
                                <p class="card-services__copy text text--small text--blue-75 text--w-light">
                                    Специалисты компании FINCOM group не только помогут разобраться во всех тонкостях налогового планирования и избежать ошибок, но и подготовят комплекс мероприятий для оптимизации налогообложения: минимизация рисков, снижение налоговой нагрузки и исключение возможности наложения штрафов.
                                </p>
                                <div class="card-services__action">
                                    <a href="javascript:;" class="card-services__button button button--blue">
                                        <span class="button__span" data-hover-btn="Получить консультацию">Получить консультацию</span> 
                                    </a>
                                </div>
                            </div>
                        </article>
                        <!-- /. Card-services -->
                    </div>
                    <div class="add-services-slider__swiper-slide swiper-slide">
                        <!-- Card-services -->
                        <article class="card-services">
                            <aside class="card-services__aside">
                                <div class="card-services__figure">
                                    <img src="https://picsum.photos/500/300" alt="" class="card-services__img">
                                </div>
                            </aside>
                            <div class="card-services__body bg--white">
                                <h3 class="card-services__title text text--large text--blue text--w-regular">
                                    Юридическое <br> сопровождение
                                </h3>
                                <p class="card-services__copy text text--small text--blue-75 text--w-light">
                                    В бухгалтерии нередко приходится сталкиваться с проблемами, для решения которых не обойтись без грамотного юриста. В комплекс услуг от компании FINCOM group обязательно входят юридические консультации экспертов по корпоративному и налоговому праву
                                </p>
                                <div class="card-services__action">
                                    <a href="javascript:;" class="card-services__button button button--blue">
                                        <span class="button__span" data-hover-btn="Получить консультацию">Получить консультацию</span> 
                                    </a>
                                </div>
                            </div>
                        </article>
                        <!-- /. Card-services -->
                    </div>
                    <div class="add-services-slider__swiper-slide swiper-slide">
                        <!-- Card-services -->
                        <article class="card-services">
                            <aside class="card-services__aside">
                                <div class="card-services__figure">
                                    <img src="https://picsum.photos/500/300" alt="" class="card-services__img">
                                </div>
                            </aside>
                            <div class="card-services__body bg--white">
                                <h3 class="card-services__title text text--large text--blue text--w-regular">
                                    Юридическое <br> сопровождение
                                </h3>
                                <p class="card-services__copy text text--small text--blue-75 text--w-light">
                                    В бухгалтерии нередко приходится сталкиваться с проблемами, для решения которых не обойтись без грамотного юриста. В комплекс услуг от компании FINCOM group обязательно входят юридические консультации экспертов по корпоративному и налоговому праву
                                </p>
                                <div class="card-services__action">
                                    <a href="javascript:;" class="card-services__button button button--blue">
                                        <span class="button__span" data-hover-btn="Получить консультацию">Получить консультацию</span> 
                                    </a>
                                </div>
                            </div>
                        </article>
                        <!-- /. Card-services -->
                    </div>
                </div>
                <div class="add-services-slider__nav">
                    <div class="add-services-slider__arrow add-services-slider__arrow--prev">
                        <svg class="add-services-slider__arrow-svg" width="19" height="36" viewBox="0 0 19 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17 34L1.70711 18.7071C1.31658 18.3166 1.31658 17.6834 1.70711 17.2929L17 2" stroke="#4EA3E0" stroke-width="2.5" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="add-services-slider__arrow add-services-slider__arrow--next">
                        <svg class="add-services-slider__arrow-svg" width="19" height="36" viewBox="0 0 19 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 2L17.2929 17.2929C17.6834 17.6834 17.6834 18.3166 17.2929 18.7071L2 34" stroke="#4EA3E0" stroke-width="2.5" stroke-linecap="round"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. Add-services -->