<!-- Benefits -->
<section class="benefits bg--white block--padding">
    <div class="benefits__body container">
        <h2 class="benefits__heading title title--large title--dark title--w-medium title--indent">
            Преимущества работы с нами
        </h2>
        <div class="benefits__rows">
            <div class="benefits__row">
                <h3 class="benefits__title text text--big text--dark-gray text--w-regular">
                    Командная работа
                </h3>
                <div class="benefits__text text text--normal text--dark-gray-low text--w-light">
                    Над каждым проектом работает группа специалистов, которая оперативно подключается к решению возникающих вопросов. Слаженная работа нашей команды позволяет вам экономить время и быть уверенным в результате.
                </div>
            </div>
            <div class="benefits__row">
                <h3 class="benefits__title text text--big text--dark-gray text--w-regular">
                    Снижение затрат
                </h3>
                <div class="benefits__text text text--normal text--dark-gray-low text--w-light">
                    Специалисты, работающие над проектом, используют ровно столько времени, сколько требуется для качественного выполнения задач без дополнительных затрат. Для клиентов стоимость рассчитывается  в зависимости от системы налогообложения по простому прозрачному алгоритму, что позволяет легко влиять на объем получаемых услуг и тратить меньше средств, чем требуется на содержание штатного сотрудника.
                </div>
            </div>
            <div class="benefits__row">
                <h3 class="benefits__title text text--big text--dark-gray text--w-regular">
                    Улучшение качества бизнес-процессов
                </h3>
                <div class="benefits__text text text--normal text--dark-gray-low text--w-light">
                    Участие в каждом проекте высококвалифицированных специалистов увеличивает скорость и качество выполнения поставленных задач и помогает экономить на штатных сотрудниках с высокими компетенциями.
                </div>
            </div>
            <div class="benefits__row">
                <h3 class="benefits__title text text--big text--dark-gray text--w-regular">
                    Режим одного окна
                </h3>
                <div class="benefits__text text text--normal text--dark-gray-low text--w-light">
                    Все контакты происходят через одного специалиста, который поможет решить текущие вопросы, включая юридические аспекты или связанные с аудитом и управленческим учетом.
                    Вам больше не нужно тратить время на поиск ответственного за выполнение задачи.
                </div>
            </div>
            <div class="benefits__row">
                <h3 class="benefits__title text text--big text--dark-gray text--w-regular">
                    Безопасность 
                </h3>
                <div class="benefits__text text text--normal text--dark-gray-low text--w-light">
                    В нашей компании предоставляют гарантию конфиденциальности полученной от клиента информации. Все переданные нам данные хранятся исключительно на защищенных серверах и 1С. Кроме того, наша компания несет полную финансовую ответственность за свою деятельность. Ошибки сотрудников больше не будут вашей проблемой!
                </div>
            </div>
        </div>
        <div class="benefits__action">
            <a href="javascript:;" class="button button--blue btn-modal">
                <span class="button__span" data-hover-btn="Оставить заявку">Оставить заявку</span> 
            </a>
        </div>
    </div>
</section>
<!-- /. Benefits -->