<!-- Card-features -->
<div class="card-features">
    <div class="card-features__header">
        <div class="card-features__icon">
            <img src="img/card-features/icon-features-1.svg" alt="" class="card-features__img">
        </div>
    </div>
    <div class="card-features__body">
        <h3 class="card-features__title text text--small text--darkcyan text--w-regular">
            Профессиональные <br> бухгалтеры
        </h3>
    </div>
</div>
<div class="card-features">
    <div class="card-features__header">
        <div class="card-features__icon">
            <img src="img/card-features/icon-features-2.svg" alt="" class="card-features__img">
        </div>
    </div>
    <div class="card-features__body">
        <h3 class="card-features__title text text--small text--darkcyan text--w-regular">
            Возьмём <br> на себя весь <br> объём работ
        </h3>
    </div>
</div>
<div class="card-features">
    <div class="card-features__header">
        <div class="card-features__icon">
            <img src="img/card-features/icon-features-3.svg" alt="" class="card-features__img">
        </div>
    </div>
    <div class="card-features__body">
        <h3 class="card-features__title text text--small text--darkcyan text--w-regular">
            Не нужно <br> посещать офис
        </h3>
    </div>
</div>
<div class="card-features">
    <div class="card-features__header">
        <div class="card-features__icon">
            <img src="img/card-features/icon-features-4.svg" alt="" class="card-features__img">
        </div>
    </div>
    <div class="card-features__body">
        <h3 class="card-features__title text text--small text--darkcyan text--w-regular">
            Контролируйте <br> работу удалённо
        </h3>
    </div>
</div>
<div class="card-features">
    <div class="card-features__header">
        <div class="card-features__icon">
            <img src="img/card-features/icon-features-5.svg" alt="" class="card-features__img">
        </div>
    </div>
    <div class="card-features__body">
        <h3 class="card-features__title text text--small text--darkcyan text--w-regular">
            Несём материальную <br> ответсвенность <br> за свою деятельность
        </h3>
    </div>
</div>
<!-- /. Card-features -->