<!-- Card-services -->
<article class="card-services">
    <aside class="card-services__aside">
        <div class="card-services__figure">
            <img src="https://picsum.photos/500/300" alt="" class="card-services__img">
        </div>
    </aside>
    <div class="card-services__body bg--white">
        <h3 class="card-services__title text text--large text--blue text--w-regular">
            Бухгалтерское <br> сопровождение
        </h3>
        <p class="card-services__copy text text--small text--blue-75 text--w-light">
            Принцип нашей работы - обеспечить комплексную и полномасштабную работу над вашим проектом. Мы не просто подсчитываем и подаем бухгалтерскую отчетность, а ведем полноценный бухгалтерский учет, оповещаем о всех возможных “Подводных камнях” и ищем пути решения проблем, возникающих при ведении бизнеса.
        </p>
        <div class="card-services__action">
            <a href="javascript:;" class="card-services__button button button--blue">
                <span class="button__span" data-hover-btn="Получить консультацию">Получить консультацию</span> 
            </a>
        </div>
    </div>
</article>
<article class="card-services">
    <aside class="card-services__aside">
        <div class="card-services__figure">
            <img src="https://picsum.photos/500/300" alt="" class="card-services__img">
        </div>
    </aside>
    <div class="card-services__body bg--white">
        <h3 class="card-services__title text text--large text--blue text--w-regular">
            Оптимизация <br> налогооблажения
        </h3>
        <p class="card-services__copy text text--small text--blue-75 text--w-light">
            Специалисты компании FINCOM group не только помогут разобраться во всех тонкостях налогового планирования и избежать ошибок, но и подготовят комплекс мероприятий для оптимизации налогообложения: минимизация рисков, снижение налоговой нагрузки и исключение возможности наложения штрафов.
        </p>
        <div class="card-services__action">
            <a href="javascript:;" class="card-services__button button button--blue">
                <span class="button__span" data-hover-btn="Получить консультацию">Получить консультацию</span> 
            </a>
        </div>
    </div>
</article>
<article class="card-services">
    <aside class="card-services__aside">
        <div class="card-services__figure">
            <img src="https://picsum.photos/500/300" alt="" class="card-services__img">
        </div>
    </aside>
    <div class="card-services__body bg--white">
        <h3 class="card-services__title text text--large text--blue text--w-regular">
            Юридическое <br> сопровождение
        </h3>
        <p class="card-services__copy text text--small text--blue-75 text--w-light">
            В бухгалтерии нередко приходится сталкиваться с проблемами, для решения которых не обойтись без грамотного юриста. В комплекс услуг от компании FINCOM group обязательно входят юридические консультации экспертов по корпоративному и налоговому праву.
        </p>
        <div class="card-services__action">
            <a href="javascript:;" class="card-services__button button button--blue">
                <span class="button__span" data-hover-btn="Получить консультацию">Получить консультацию</span> 
            </a>
        </div>
    </div>
</article>
<!-- /. Card-services -->