<!-- FAQ -->
<section class="faq block--padding bg--white">
    <div class="faq__body container">
        <h2 class="faq__heading title title--large title--dark title--w-medium title--indent">
            FAQ | Часто задаваемые вопросы
        </h2>
        <div class="faq__accordion">
            <details class="faq__details">
                <summary class="faq__summary">
                    <span class="faq__question text text--big text--dark-gray text--w-regular">На чьей стороне ответственность за ошибки при бухгалтерском сопровождении?</span>
                </summary>
                <div class="faq__answer text text--normal text--dark-gray-low text--w-light">
                    С каждым клиентом компания FINCOM group заключает договор, в котором прописана зона ответственности каждой стороны. Наши специалисты имеют 15-летний опыт и постоянно проходят курсы повышения квалификации, знают обо всех изменениях в текущем законодательстве. А количество довольных клиентов говорит само за себя, и с каждым годом их число растёт.
                </div>
            </details>
            <details class="faq__details">
                <summary class="faq__summary">
                    <span class="faq__question text text--big text--dark-gray text--w-regular">Каким образом осуществляется передача первичной документации?</span>
                </summary>
                <div class="faq__answer text text--normal text--dark-gray-low text--w-light">
                    С каждым клиентом компания FINCOM group заключает договор, в котором прописана зона ответственности каждой стороны. Наши специалисты имеют 15-летний опыт и постоянно проходят курсы повышения квалификации, знают обо всех изменениях в текущем законодательстве. А количество довольных клиентов говорит само за себя, и с каждым годом их число растёт.
                </div>
            </details>
            <details class="faq__details">
                <summary class="faq__summary">
                    <span class="faq__question text text--big text--dark-gray text--w-regular">Какие документы необходимы для составления налоговой отчетности? Кто взаимодействует с налоговой?</span>
                </summary>
                <div class="faq__answer text text--normal text--dark-gray-low text--w-light">
                    С каждым клиентом компания FINCOM group заключает договор, в котором прописана зона ответственности каждой стороны. Наши специалисты имеют 15-летний опыт и постоянно проходят курсы повышения квалификации, знают обо всех изменениях в текущем законодательстве. А количество довольных клиентов говорит само за себя, и с каждым годом их число растёт.
                </div>
            </details>
            <details class="faq__details">
                <summary class="faq__summary">
                    <span class="faq__question text text--big text--dark-gray text--w-regular">Как контролировать консалтинговую компанию?</span>
                </summary>
                <div class="faq__answer text text--normal text--dark-gray-low text--w-light">
                    С каждым клиентом компания FINCOM group заключает договор, в котором прописана зона ответственности каждой стороны. Наши специалисты имеют 15-летний опыт и постоянно проходят курсы повышения квалификации, знают обо всех изменениях в текущем законодательстве. А количество довольных клиентов говорит само за себя, и с каждым годом их число растёт.
                </div>
            </details>
            <details class="faq__details">
                <summary class="faq__summary">
                    <span class="faq__question text text--big text--dark-gray text--w-regular">Можем ли мы перевести на аутсорсинг только одну категорию учета? У нас в штате уже есть бухгалтер</span>
                </summary>
                <div class="faq__answer text text--normal text--dark-gray-low text--w-light">
                    С каждым клиентом компания FINCOM group заключает договор, в котором прописана зона ответственности каждой стороны. Наши специалисты имеют 15-летний опыт и постоянно проходят курсы повышения квалификации, знают обо всех изменениях в текущем законодательстве. А количество довольных клиентов говорит само за себя, и с каждым годом их число растёт.
                </div>
            </details>
        </div>
    </div>
</section>
<!-- /. FAQ -->