<!-- Header-page -->
<section class="header-page bg--gray">
    <div class="header-page__body container">
        <div class="header-page__pic">
            <img src="img/upload/header-page-img.png" alt="" class="header-page__img">
        </div>
        <div class="header-page__wrapp">
            <div class="header-page__heading">
                <div class="header-page__wrapper-title">
                    <h1 class="header-page__title title title--big title--dark title--w-bold">
                        Бухгалтерское <br> сопровождение
                    </h1>
                    <div class="header-page__logo">
                        <img src="img/logo-1c.png" alt="Логотип 1С" class="header-page__img">
                    </div>
                </div>
                <p class="header-page__subtitle text text--big text--dark-gray text--w-regular">
                    1С:БухОбслуживание. ФИНКОМ АККАУНТИНГ - лучшее <br> решение для Вашего бизнеса
                </p>
                <div class="header-page__action">
                    <a href="javascript:;" class="button button--blue">
                        <span class="button__span" data-hover-btn="Рассчитать стоимость">Рассчитать стоимость</span> 
                    </a>
                </div>
            </div>
        </div>
        <div class="header-page__icon">
            <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.9203 5.9624V10.2312M13.9203 1.16C11.7667 1.16 9.70138 2.03842 8.17859 3.602C6.65579 5.16559 5.80029 7.28626 5.80029 9.4975V19.5025C5.80029 21.7137 6.65579 23.8344 8.17859 25.398C9.70138 26.9616 11.7667 27.84 13.9203 27.84C16.0739 27.84 18.1392 26.9616 19.662 25.398C21.1848 23.8344 22.0403 21.7137 22.0403 19.5025V9.4975C22.0403 7.28626 21.1848 5.16559 19.662 3.602C18.1392 2.03842 16.0739 1.16 13.9203 1.16Z" stroke="#727272" stroke-linecap="round"/>
            </svg>
        </div>
    </div>
</section>
<!-- /. Header-page -->