<!-- Main-form -->
<section class="main-form block--padding bg--blue">
    <div class="main-form__body container">
        <h2 class="main-form__heading title title--large title--white title--w-medium title--indent">
            Получить бесплатную консультацию
        </h2>
        <div class="main-form__box">
            <form action="" method="post" class="form form--page">
                <div class="form__field form__field--name">
                    <input type="text" class="form__input" placeholder="Имя">
                </div>
                <div class="form__field form__field--phone">
                    <input type="tel" class="form__input" placeholder="Телефон">
                </div>
                <div class="form__field form__field--email">
                    <input type="email" class="form__input" placeholder="E-mail">
                </div>
                <div class="form__field form__action">
                    <input type="submit" value="Отправить" class="form__submit button button--white">
                </div>
            </form>
        </div>
    </div>
</section>
<!-- /. Main-form -->