<!-- Why-us -->
<section class="why-us block--padding bg--white">
    <div class="why-us__body container">
        <h2 class="why-us__heading title title--large title--dark title--w-medium title--indent">
            Почему мы?
        </h2>
        <div class="why-us__content wysiwyg text text--normal text--dark-gray">
            <p>
                Наша команда - профессиональные бухгалтеры, прошедшие сертификацию в компании 1С. Они возьмут на себя весь объем работ от ведения налогового учета до взаимодействия с налогов	ой службой.
            </p>
            <p>
                Вам не нужно посещать наш офис. Облачное хранилище 1С позволит вам иметь доступ ко всей информации из любой точки мира. Вы сможете контролировать нашу работу, отслеживать действия сотрудников, передавать необходимую нам документацию и сведения о деятельности компании в режиме онлайн.
            </p>
            <p>
                ФИНКОМ АККАУНТИНГ несет материальную ответственность за свою деятельность. Если налоговая начислит вам штраф по нашей вине, мы возместим его в полном объеме.
            </p>
        </div>
        <div class="why-us__cards">
            {% include "partials/_card-features.html" %}
        </div>
        <div class="why-us__action">
            <a href="javascript:;" class="button button--blue btn-modal">
                <span class="button__span" data-hover-btn="Оставить заявку">Оставить заявку</span> 
            </a>
        </div>
    </div>
</section>
<!-- /. Why-us -->