:root {
    --gradient-blue: linear-gradient(88.3deg, #1165A1 0%, #4FA4E1 100%);
    --color-blue: #1165A1;
    --color-blue-low: #196DAA;
    --color-blue-75: rgba(17, 101, 161, 0.75);
    --color-dark: #333333;
    --color-dark-gray: #555555;
    --color-dark-gray-low: #727272;
    --color-white: #FFFFFF;
    --color-white-75: rgba(254, 254, 254, 0.75);
    --color-white-gray: #EDF0F3;
    --font-roboto: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-gotham: "GothamPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}