.header-page {
    padding-top: 100px;
    @include tablet-block {
        padding-top: 70px;
    }
    @include mobile-block {
        padding-top: 45px;
    }
    @include mobileXS-block {
        padding-top: 25px;
    }
}

.header-page__body {
    position: relative;
}

.header-page__wrapp {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 67px;
    @include mobile-block {
        padding-right: 0;
    }
    @include mobileXS-block {
        justify-content: flex-start;
        margin-bottom: -25px;
    }
}

.header-page__heading {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    padding-bottom: 121px;
    @include tablet-block {
        max-width: 500px;
    }
    @include mobile-block {
        padding-bottom: 70px;
    }
    @include mobileXS-block {
        position: relative;
        z-index: 10;
        max-width: 100%;
        padding-bottom: 0;
    }
}



.header-page__wrapper-title {
    position: relative;
    display: flex;
    @include mobileXS-block {
        position: static;
    }
}

.header-page__title {
    text-align: left;
}

.header-page__logo {
    background: var(--color-white);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    width: 135px;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet-block {
        position: absolute;
        left: -165px;
        top: 50%;
        margin-left: 0;
        transform: translateY(-50%);
    }
    @include mobile-block {
        width: 91px;
        height: 91px;
        left: -125px;
    }
    @include mobileXS-block {
        bottom: 160px;
        right: 0;
        top: auto;
        width: 169px;
        height: 169px;
        left: auto;
        transform: none;
    }
}

.header-page__logo-img {
    display: block;
    @include mobileXS-block {
        width: 132px;
    }
}

.header-page__pic {
    position: absolute;
    left: 0;
    bottom: 0;
    @include mobileXS-block {
        position: relative;
        margin-top: 25px;
    }
}

.header-page__img {
    display: block;
    max-height: 550px;
    @include tablet-block {
        max-height: 450px;
    }
    @include mobile-block {
        max-height: 282px;
    }
}

.header-page__subtitle {
    margin-top: 45px;
    @include mobile-block {
        margin-top: 25px;
    }
}

.header-page__action {
    margin-top: 153px;
    @include tablet-block {
        margin-top: 50px;
    }
    @include mobile-block {
        margin-top: 35px;
    }
    @include mobileXS-block {
        margin-top: 0;
    }
}

.header-page__action .button {
    @include mobileXSS-block {
        width: 100%;
        justify-content: center;
    }
}

.header-page__icon {
    position: absolute;
    left: 50%;
    bottom: 36px;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 10;
    @include mobile-block {
        bottom: 15px;
    }
    @include mobileMD-block {
        bottom: -55px;
    }
}