.header-page {
    padding-top: 100px;
    // padding-bottom: 121px;
}

.header-page__body {
    position: relative;
}

.header-page__pic {
    position: absolute;
    left: 0;
    bottom: 0;
}

.header-page__img {
    display: block;
}
.header-page__wrapp {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 67px;
}
.header-page__heading {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    max-width: 690px;
    padding-bottom: 121px;
}

.header-page__wrapper-title {
    display: flex;
}

.header-page__title {
    text-align: left;
}

.header-page__logo {
    background: var(--color-white);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 35px 15px;
    align-self: center;
    margin-left: 38px;
}

.header-page__subtitle {
    margin-top: 45px;
}

.header-page__action {
    margin-top: 153px;
}

.header-page__icon {
    position: absolute;
    left: 50%;
    bottom: 36px;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 10;
}