<!-- Card-features -->
<div class="card-features">
    <div class="card-features__header">
        <div class="card-features__icon">
            <img src="img/card-features/icon-features-1.svg" alt="" class="card-features__img">
        </div>
    </div>
    <div class="card-features__body">
        <h3 class="card-features__title text text--small text--darkcyan text--w-regular">
            Команда квалифицированных специалистов
        </h3>
    </div>
</div>
<div class="card-features">
    <div class="card-features__header">
        <div class="card-features__icon">
            <img src="img/card-features/icon-features-2.svg" alt="" class="card-features__img">
        </div>
    </div>
    <div class="card-features__body">
        <h3 class="card-features__title text text--small text--darkcyan text--w-regular">
            Комплексное бухгалтерское сопровождение
        </h3>
    </div>
</div>
<div class="card-features">
    <div class="card-features__header">
        <div class="card-features__icon">
            <img src="img/card-features/icon-features-3.svg" alt="" class="card-features__img">
        </div>
    </div>
    <div class="card-features__body">
        <h3 class="card-features__title text text--small text--darkcyan text--w-regular">
            Безопасное облачное хранилище 1С
        </h3>
    </div>
</div>
<div class="card-features">
    <div class="card-features__header">
        <div class="card-features__icon">
            <img src="img/card-features/icon-features-5.svg" alt="" class="card-features__img">
        </div>
    </div>
    <div class="card-features__body">
        <h3 class="card-features__title text text--small text--darkcyan text--w-regular">
            Деятельность компании застрахована
        </h3>
    </div>
</div>
<!-- /. Card-features -->