<!-- Main-form -->
<section class="main-form block--padding bg--blue">
    <div class="main-form__body container">
        <h2 class="main-form__heading title title--large title--white title--w-medium title--indent">
            Получить бесплатную консультацию
        </h2>
        <div class="main-form__box">
            <form action="" method="post" class="form form--page v2">
                <div class="form__field form__field--name v2">
                    <input type="text" class="form__input v2" placeholder="Имя">
                </div>
                <div class="form__field form__field--phone v2">
                    <input type="tel" class="form__input v2" placeholder="Телефон">
                </div>
                <div class="form__field form__field--email v2">
                    <input type="email" class="form__input v2" placeholder="E-mail">
                </div>
                <div class="form__field form__action v2">
                    <input type="submit" value="Отправить" class="form__submit button button--white v2">
                </div>
            </form>
        </div>
    </div>
</section>
<!-- /. Main-form -->