<!-- Reviews-slider -->
<section class="reviews-slider block--padding bg--white-gray">
    <div class="reviews-slider__body container">
        <div class="reviews-slider__heading-wrapp title--indent">
            <h2 class="reviews-slider__heading title title--large title--dark title--w-medium">
                Отзывы
            </h2>
            <nav class="reviews-slider__nav">
                <div class="reviews-slider__arrow reviews-slider__arrow--prev">
                    <svg class="reviews-slider__arrow-svg" width="19" height="36" viewBox="0 0 19 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 34L1.70711 18.7071C1.31658 18.3166 1.31658 17.6834 1.70711 17.2929L17 2" stroke="#4EA3E0" stroke-width="2.5" stroke-linecap="round"/>
                    </svg>
                </div>
                <div class="reviews-slider__arrow reviews-slider__arrow--next">
                    <svg class="reviews-slider__arrow-svg" width="19" height="36" viewBox="0 0 19 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L17.2929 17.2929C17.6834 17.6834 17.6834 18.3166 17.2929 18.7071L2 34" stroke="#4EA3E0" stroke-width="2.5" stroke-linecap="round"/>
                    </svg>
                </div>
            </nav>
        </div>
        <div class="reviews-slider__swiper swiper-container">
            <div class="reviews-slider__swiper-wrapper swiper-wrapper" id="js-reviews-slider-zoom">
                <div data-src="img/upload/reviews-slider-img-1.jpg" class="reviews-slider__slide swiper-slide">
                    <img src="img/upload/reviews-slider-img-1.jpg" alt="" class="reviews-slider__img">
                </div>
                <div data-src="img/upload/reviews-slider-img-2.jpg" class="reviews-slider__slide swiper-slide">
                    <img src="img/upload/reviews-slider-img-2.jpg" alt="" class="reviews-slider__img">
                </div>
                <div data-src="img/upload/reviews-slider-img-3.jpg" class="reviews-slider__slide swiper-slide">
                    <img src="img/upload/reviews-slider-img-3.jpg" alt="" class="reviews-slider__img">
                </div>
            </div>
        </div>
   </div>
</section>
<!-- /. Reviews-slider -->