<!-- Table-price -->
<section class="table-price block--padding bg--white">
    <div class="table-price__body container">
        <h2 class="table-price__heading title title--large title--dark title--w-medium title--indent">
            Прайс
        </h2>
        <div class="table-price__grid">
            <div class="table-price__column table-price__column--one">
                <h4 class="table-price__col-title text text--dark text--w-regular">
                    Услуги
                </h4>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    Бухгалтерское сопроводждение
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    Консультация
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    Услуги представителя
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    Аренда офиса
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    Открытие корпоративного счёта
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    Разработка фин. модели
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    Регистрация компании
                </div>
            </div>
            <div class="table-price__column">
                <h4 class="table-price__col-title text text--dark text--w-regular">
                    Стоимость
                </h4>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    от 100€/мес
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    200€
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    200€/мес
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    500€/6 мес
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    500€
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    от 500€
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    1000€
                </div>
            </div>
            <div class="table-price__column hide-mobile-xs">
                <h4 class="table-price__col-title text text--dark text--w-regular">
                    Сроки
                </h4>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    ежемесячная услуга
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    разовая услуга
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    ежемесячная услуга
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    ежемесячная услуга
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    от 5 дней
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    разовая услуга
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    5-7 рабочих дней
                </div>
            </div>
            <div class="table-price__column hide-mobile-xs">
                <h4 class="table-price__col-title text text--dark text--w-regular">
                    Дополнительные условия
                </h4>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">

                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    Дополнительно оплачивается комиссия банка
                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">

                </div>
                <div class="table-price__row text text--dark text--w-regular text--normal">
                    Дополнительно оплачивается налог в АПР
                </div>
            </div>
        </div>
        <div class="table-price__ad-text text text--dark-gray-low text--w-regular text--normal">
            *дополнительно оплачивается комиссия банка
            <br>
            <br>
            *дополнительно оплачивается налог в АПР
        </div>
        <div class="table-price__action">
            <a href="#" class="table-price__btn button button--blue btn-modal" data-hover-btn="Оставить заявку">
                Оставить заявку
            </a>
        </div>
    </div>
</section>
<!-- /. Table-price -->