<!-- Why-us -->
<section class="why-us block--padding bg--white">
    <div class="why-us__body container">
        <h2 class="why-us__heading title title--large title--dark title--w-medium title--indent">
            Почему мы?
        </h2>
        <div class="why-us__content wysiwyg text text--normal text--dark-gray">
            {% if title == "Бухгалтерское сопровождение" %}
                <p>
                    Наша команда - профессиональные бухгалтеры, прошедшие сертификацию в компании 1С. Они возьмут на себя весь объем работ от ведения налогового учета до взаимодействия с налогов	ой службой.
                </p>
                <p>
                    Вам не нужно посещать наш офис. Облачное хранилище 1С позволит вам иметь доступ ко всей информации из любой точки мира. Вы сможете контролировать нашу работу, отслеживать действия сотрудников, передавать необходимую нам документацию и сведения о деятельности компании в режиме онлайн.
                </p>
                <p>
                    ФИНКОМ АККАУНТИНГ несет материальную ответственность за свою деятельность. Если налоговая начислит вам штраф по нашей вине, мы возместим его в полном объеме.
                </p>
            {% elif title == "Открытие компании в Сербии" %}
                <p>
                    В текущей экономической и политической ситуации российские предприниматели все чаще задумываются о сохранении и развитии своего бизнеса, ищут возможности для проведения транзитных и банковских операции за границей. За последнее время в Сербии помимо общего экономического роста и улучшения бизнес-климата, благодаря многим преобразованиям и реформам, значительно развился и продолжает совершенствоваться банковский сектор. Именно в Сербии в банках одна из самых простых процедур открытия счетов и требуются небольшое количество документов. Сербия — это отличный вариант для решения ваших бизнес-задач.
                </p>
                <ul>
                    <li>Дружественная страна для России</li>
                    <li>Возможность открытия счета в любой валюте</li>
                    <li>Стабильная и универсальная банковская система </li>
                    <li>Выход на европейский рынок и взаимодействие с компаниями в США</li>
                    <li>Низкие, по сравнению с Европой, налоги </li>
                    <li>Понятные и стабильные юридические решения для транзитных и банковских операций</li>
                    <li>Быстрое получение ВНЖ при открытии компании</li>
                </ul>
            {% endif %}
        </div>
        <div class="why-us__cards">
            {% if title == "Бухгалтерское сопровождение" %}
                {% include "template/_card-features.html" %}
            {% elif title == "Открытие компании в Сербии" %}

            {% endif %}
        </div>
        <div class="why-us__action">
            <a href="javascript:;" class="button button--blue btn-modal">
                <span class="button__span" data-hover-btn="Оставить заявку">Оставить заявку</span> 
            </a>
        </div>
    </div>
</section>
<!-- /. Why-us -->