<section class="why-us-cards">
    <div class="why-us-cards__items">
        <div class="why-us-cards__item">
            <h4 class="why-us-cards__title text text--dark text--normal text--w-bold">
                Самая низкая в Европе налоговая ставка
            </h4>
            <p class="why-us-cards__descr text text--dark text--small text--w-regular">
                Ставка корпоративного налога 15%, налог на дивиденды 15%
            </p>
            <div class="why-us-cards__pic">
                <img src="img/upload/why-us-img-1.png" alt="" class="why-us-cards__img">
            </div>
        </div>
        <div class="why-us-cards__item">
            <h4 class="why-us-cards__title text text--dark text--normal text--w-bold">
                Избежание двойного налогообложения
            </h4>
            <p class="why-us-cards__descr text text--dark text--small text--w-regular">
                Республика Сербия подписала больше 60 договоров об избежании двойного налогообложения
            </p>
            <div class="why-us-cards__pic">
                <img src="img/upload/why-us-img-2.png" alt="" class="why-us-cards__img">
            </div>
        </div>
        <div class="why-us-cards__item">
            <h4 class="why-us-cards__title text text--dark text--normal text--w-bold">
                Налог на доход, полученный в Сербии
            </h4>
            <p class="why-us-cards__descr text text--dark text--small text--w-regular">
                Нерезиденты облагаются налогом только на доход, полученный в Сербии
            </p>
            <div class="why-us-cards__pic">
                <img src="img/upload/why-us-img-3.png" alt="" class="why-us-cards__img">
            </div>
        </div>
        <div class="why-us-cards__item">
            <h4 class="why-us-cards__title text text--dark text--normal text--w-bold">
                Соответствие международным стандартам
            </h4>
            <p class="why-us-cards__descr text text--dark text--small text--w-regular">
                Страна соответствует международным стандартам бухгалтерского учета
            </p>
            <div class="why-us-cards__pic">
                <img src="img/upload/why-us-img-4.png" alt="" class="why-us-cards__img">
            </div>
        </div>
    </div>
</section>