.screen-main {
    background: url('../img/screen-main/screen-main.jpg') center no-repeat;
    background-size: cover;
    padding: 120px 0 120px;
}

.screen-main__inner {
    text-align: center;
}

.screen-main__action {
    margin-top: 50px;
}