.button {
    position: relative;
    display: inline-flex;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    line-height: 1.15;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    z-index: 10;
    border-radius: 5px;
    transition: .3s ease-out;
    overflow: hidden;
}

.button--blue {
    font-family: var(--font-gotham);
    padding: 15px 45px;
    color: var(--color-white);
    background: var(--gradient-blue);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
}

.button--white {
    font-family: var(--font-gotham);
    padding: 8px 45px;
    color: var(--color-blue);
    background: var(--color-white);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
    border: 2px solid transparent;
}

.button--white:hover {
    background: transparent;
    border: 2px solid var(--color-white);
    color: var(--color-white);
}

.button--blue,
.button--white {
    font-size: 18px;
    @include tablet(font-size, 16px);
}

.button .button__span {
    position: relative;
    transition: transform .2s ease-out;
}

.button .button__span::before {
    content: attr(data-hover-btn);
    position: absolute;
    width: 100%;
    top: 200%;
    left: 50%;
    transform: translateX(-50%);
}

.button:hover > .button__span {
    transform: translateY(-200%);
}

.button::after {
    content: '';
    display: block;
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .3s ease-out;
    z-index: -1;
}

.button--blue:hover {
    color: var(--color-blue);
    background: transparent;
}

.button--blue:hover::after {
    background: var(--color-white);
}