.benefits__heading {
    @include mobileXS(text-align, center);
}

.benefits__row ~ .benefits__row {
    margin-top: 45px;
    @include mobile-block {
        margin-top: 25px;
    }
}

.benefits__text {
    margin-top: 25px;
}

.benefits__action {
    margin-top: 95px;
    text-align: center;
    @include mobile-block {
        margin-top: 25px;
    }
}