.card-features {
    background: var(--color-milk);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.075);
    border-radius: 10px;
    padding: 31px 43px 50px 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-features__icon {
    width: 140px;
    height: 140px;
    background: var(--color-blue);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card-features__img {
    display: block;
    width: 81px;
    height: auto;
}

.card-features__title {
    margin-top: 20px;
    text-align: center;
}